{
  "main": {
   "details": {
      "name": "name of the provider",
      "description": "n",
      "homepage": "n/a"
    },
    "providerWalletPrivateKey": "0x",
    "billingWalletPrivateKey": "0x",
    "operatorWalletPrivateKey": "0x",
  },
}
